# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
/data/
*.csv
*.xls
*.xlsx
*.pkl

# Model files
*.h5
*.hdf5
*.joblib

# Logs
*.log

# Other
.idea/
.vscode/

